  .wrapper {
    width: 700px;
    height: 700px;
    background-color: #e4e6cf;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
  }
  .body {
    position: absolute;
    width: 320px;
    height: 350px;
    background-color: #942929;      
    border-radius: 110px 110px 0 0;
    bottom: -20%;
    left: 29.5%;
    z-index: 3;
  }
  .body::after {
    content: "";
    background-color: #fdd39b;
    width: 75px;
    height: 96px;
    position: absolute;
    display: block;
    left: 40%;
    top: -20%;
    border-radius: 0 0 100px 100px;
  }
  .shirt {
    border-radius: 10px 10px 0;
    border-top: 100px solid #fdd39b;
    border-right: 38px solid transparent;
    border-left: 38px solid transparent;
    position: absolute;
    top: -1%;
    left: 40%;
    z-index: 4;
  }
  .left-arm {
    position: absolute;
    border-bottom: 70px solid #38383856;
    border-right: 7px solid transparent;
    border-left: 5px solid transparent;
    top: 29%;
    left: 20%;
  }
  .right-arm {
    border-bottom: 70px solid #38383856;
    border-right: 5px solid transparent;
    border-left: 7px solid transparent;
    position: absolute;
    top: 29%;
    left: 77%;
  }
  .face {
    width: 180px;
    height: 235px;
    background-color: #fedfb2;
    position: relative;
    left: 53%;
    top: 30%;
    z-index: 3;
    border-radius: 100% / 30% 30% 120% 120%;
    transform: translate(-50%, 0);
  }
  .eyebrow1 {
    width: 40px;
    height: 8px;
    position: absolute;
    background-color: #463118;
    border-radius: 50px 70px 5px 5px;
    top: 41.5%;
    left: 46%;
    z-index: 3;
    transform: rotate(5deg);
  }
  .eyebrow1-part {
    width: 25px;
    height: 8px;
    position: absolute;
    background-color: #463118;
    border-radius: 5px 100px 100px 100px;
    top: 41.5%;
    left: 44%;
    z-index: 3;
    transform: rotate(170deg);
  }
  .eyebrow2 {
    width: 40px;
    height: 8px;
    position: absolute;
    background-color: #463118;
    border-radius: 70px 120px 5px 100px;
    top: 41.5%;
    left: 55%;
    z-index: 3;
    transform: rotate(-4deg);
  }
  .eyebrow2-part {
    width: 25px;
    height: 8px;
    position: absolute;
    background-color: #463118;
    border-radius: 100px 100px 100px 5px;
    top: 41.57%;
    left: 59%;
    z-index: 3;
    transform: rotate(10deg);
  }
  .eye1 {
    width: 45px;
    height: 25px;
    background: #ffffff;
    position: relative;
    border-radius: 100% / 90%;
    box-shadow: inset 0 3vmin 0 -2vmin rgba(0, 0, 0, 0.1), inset 0 3vmin 0 -2vmin #000000, 0 -2vmin 2vmin -1vmin rgba(0, 0, 0, 0.05);
    top: 95px;
    left: 32px;
    z-index: 4;
  }
  .eye2 {
    width: 45px;
    height: 25px;
    background: #ffffff;
    position: relative;
    border-radius: 100% / 90%;
    box-shadow: inset 0 3vmin 0 -2vmin rgba(0, 0, 0, 0.1), inset 0 3vmin 0 -2vmin #000000, 0 -2vmin 2vmin -1vmin rgba(0, 0, 0, 0.05);
    top: 69px;
    left: 105px;
    z-index: 4;
  }
  .eyelash1 {
    width: 40px;
    height: 10px;
    position: absolute;
    top: -50%;
    left: -24%;
    background-color: transparent;
    border-left: 3px solid #000000;
    border-radius: 15px 15px 0 0;
    transform: rotate(-49deg);
    z-index: 5;
  }
  .eyelash3 {
    width: 40px;
    height: 10px;
    position: absolute;
    top: -55%;
    left: -15%;
    background-color: transparent;
    border-left: 3px solid #000000;
    border-radius: 15px 15px 0 0;
    transform: rotate(-47deg);
    z-index: 5;
  }
  .eyelash5 {
    width: 40px;
    height: 10px;
    position: absolute;
    top: -58%;
    left: -5%;
    background-color: transparent;
    border-left: 3px solid #000000;
    border-radius: 15px 15px 0 0;
    transform: rotate(-45deg);
    z-index: 5;
  }
  .eyelash2 {
    width: 40px;
    height: 10px;
    position: absolute;
    top: -47%;
    left: 27%;
    background-color: transparent;
    border-left: 3px solid #000000;
    border-radius: 0 0 15px 15px;
    transform: rotate(225deg);
    z-index: 5;
  }
  .eyelash4 {
    width: 40px;
    height: 10px;
    position: absolute;
    top: -52%;
    left: 18%;
    background-color: transparent;
    border-left: 3px solid #000000;
    border-radius: 0 0 15px 15px;
    transform: rotate(222deg);
    z-index: 5;
  }
  .eyelash6 {
    width: 40px;
    height: 10px;
    position: absolute;
    top: -52%;
    left: 8%;
    background-color: transparent;
    border-left: 3px solid #000000;
    border-radius: 0 0 15px 15px;
    transform: rotate(218deg);
    z-index: 5;
  }
  /* .eyeliner1 {
    width: 46px;
    height: 15px;
    background-color: transparent;
    border-bottom: 3px solid #000000;
    border-radius: 0 0 15px 17px;
    transform: rotate(180deg);
  } */
  .wing1 {
    position: absolute;
    top: 12%;
    right: 90%;
    background-color: transparent;
    border-bottom: 5px solid transparent;
    border-right: 20px solid black;
    border-top: 4px solid transparent;
    border-radius: 0 0 50px 0;
    transform: rotate(5deg);
  }
  /* .eyeliner2 {
    width: 46px;
    height: 15px;
    background-color: transparent;
    border-bottom: 3px solid #000000;
    border-radius: 0 0 15px 17px;
    transform: rotate(180deg);
  } */
  .wing2 {
    position: absolute;
    top: 10%;
    left: 90%;
    background-color: transparent;
    border-bottom: 5px solid transparent;
    border-right: 20px solid black;
    border-top: 5px solid transparent;
    border-radius: 0 50px 0 0;
    transform: rotate(170deg);
  }
  .eye-shape1 {
    background-color: #8b665f;
    height: 19px;
    width: 24px;
    border-radius: 50%;
    position: absolute;
    bottom: 1px;
    right: 10px;
  }
  .eye-shape3 {
    background-color: #000000;
    height: 14px;
    width: 17px;
    border-radius: 50%;
    position: absolute;
    bottom: 4.5px;
    right: 3px;
  }
  .shape1 {
    background-color: #ffffff;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 12px;
  }
  .eye-shape2 {
    background-color: #8b665f;
    height: 19px;
    width: 24px;
    border-radius: 50%;
    position: absolute;
    bottom: 1px;
    right: 10px;
  }
  .eye-shape4 {
    background-color: #000000;
    height: 14px;
    width: 17px;
    border-radius: 50%;
    position: absolute;
    bottom: 4.5px;
    right: 3px;
  }
  .shape2 {
    background-color: #ffffff;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 12px;
  }
  .blush-left {
    width: 50px;
    height: 15px;
    background-color: #f093d710;
    position: absolute;
    top: 48%;
    left: 40%;
    border-radius: 50px 0 50px;
    z-index: 3;
    transform: rotate(40deg);
  }
  .blush-right {
    width: 50px;
    height: 15px;
    background-color: #f093d710;
    position: absolute;
    top: 48%;
    left: 59%;
    border-radius: 50px;
    border-radius: 0 50px 0 50px;
    z-index: 3;
    transform: rotate(130deg);
  }
  .contouring-left {
    width: 50px;
    height: 15px;
    background-color: #edd1a828;
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius: 50px 0 50px;
    z-index: 3;
    transform: rotate(40deg);
  }
  .contouring-right {
    width: 50px;
    height: 15px;
    background-color: #edd1a828;
    position: absolute;
    top: 50%;
    left: 59%;
    border-radius: 50px;
    border-radius: 0 50px 0 50px;
    z-index: 3;
    transform: rotate(130deg);
  }
  .nose-left {
    width: 9px;
    height: 6px;
    background-color: #0000006f;
    position: absolute;
    top: 53%;
    left: 51%;
    border-radius: 50%;
    z-index: 5;
  }
  .nose-right {
    width: 9px;
    height: 6px;
    background-color: #0000006f;
    position: absolute;
    top: 53%;
    left: 54%;
    border-radius: 50%;
    z-index: 5;
  }
  .top-lip {
    width: 80px;
    height: 60px;
    position: absolute;
    top: 56%;
    left: 47.5%;
    z-index: 4;
    background: #fab5a4;
    clip-path: polygon(
    10% 77%,
    25% 89%,
    35% 95%,
    60% 95%,
    70% 90%,
    90% 77%,
    30% 75%,
    37% 75%
  );
  transform: rotate(180deg);
  }
  .bottom-lip {
    width: 80px;
    height: 60px;
    position: absolute;
    top: 51%;
    left: 47.5%;
    z-index: 4;
    background: #fab5a4;
    clip-path: polygon(
    10% 79%,
    25% 90%,
    40% 95%,
    60% 95%,
    70% 92%,
    90% 79%,
    30% 85%,
    85% 85%
  );
  }
  .hair-left {
    width: 180px;
    height: 390px;
    background-color: #d3a66e;
    position: absolute;
    top: 25%;
    left: 28.5%;
    border-radius: 86% 0 0 7%;
  }
  .hair-hgl-left2 {
    display: block;
    width: 65px;
    height: 170px;
    background-color: #d3a66e;
    position: absolute;
    border-radius: 50% 20% 0 0;
    top: 25%;
    left: 15%;
    z-index: 4;
  }
  .mini-bangs-left {
    display: block;
    width: 35px;
    height: 55px;
    background-color: #d3a66e;
    position: absolute;
    border-radius: 50% 0 0 50%;
    top: 2%;
    left: 65%;
    z-index: 3;
    transform: rotate(45deg);
  }
  .hair-left-bangs {
    display: block;
    width: 55px;
    height: 164px;
    background-color: #d3a66e;
    position: absolute;
    border-radius: 50% 50% 0 50%;
    top: 4%;
    left: 31%;
    z-index: 3;
    transform: rotate(32deg);
  }
  .hair-right {
    width: 180px;
    height: 390px;
    background-color: #d3a66e;
    position: absolute;
    left: 53.5%;
    top: 25%;
    border-radius: 0 86% 7% 0;
  }
  .mini-bangs-right {
    display: block;
    width: 35px;
    height: 55px;
    background-color: #d3a66e;
    position: absolute;
    border-radius: 50% 0 0 50%;
    top: 2%;
    left: 10%;
    z-index: 3;
    transform: rotate(135deg);
  }
  .hair-hgl-right2 {
    display: block;
    width: 65px;
    height: 170px;
    background-color: #d3a66e;
    position: absolute;
    border-radius: 0 50% 0 0;
    top: 29%;
    left: 49%;
    z-index: 3;
  }
  .hair-right-bangs {
    display: block;
    width: 58px;
    height: 164px;
    background-color: #d3a66e;
    position: absolute;
    border-radius: 0 50% 50% 0;
    top: 2%;
    left: 33%;
    z-index: 3;
    transform: rotate(330deg);
  }
  .hair-bottom {
    width: 141.5px;
    height: 120px;
    background-color: #c29660;
    position: absolute;
    top: 55%;
    left: 43%;
    z-index: 2;
  }